**Wichtige Hinweise**

- Aktivieren Sie die entsprechende Conda-Umgebung bevor Sie beginnen.

- Geben Sie als `NAME` ihr HdM-Kürzel an.

- Ändern Sie **nicht** den Namen der Datei und löschen Sie keine Zellen.

- Bearbeiten Sie alle Zellen mit dem Hinweis <font color='green'> \# YOUR CODE HERE </font> 

- Die Funktion **NotImplementedError()** soll die Abgabe von leeren Zellen verhindern. Löschen Sie die Funktion, sobald Sie in einer dieser Zellen arbeiten. 

- Stellen Sie sicher, dass alles wie erwartet läuft, bevor Sie die Prüfung abgeben: Starten Sie den Kernel neu und führen Sie alle Zellen aus: wählen Sie "Restart" und dann "Run All"

In [ ]:
NAME = ""

In [ ]:
import IPython
assert IPython.version_info[0] >= 3, "Your version of IPython is too old, please update it."

---

# Change column names

## Import pandas

- To load the pandas package and start working with it, import the package. 


- The community agreed alias for pandas is `pd`, so loading pandas as pd is assumed standard practice for all of the pandas documentation:

In [1]:
import pandas as pd

## Import data

In [10]:
# URL of data
URL = "https://raw.githubusercontent.com/kirenz/datasets/master/height_unclean.csv"
df = pd.read_csv(URL, sep=";", decimal=',')
df

        Name  ID%  Height  Average Height Parents  Gender
0   Stefanie    1     162                   161.5  female
1      Peter    2     163                   163.5    male
2   Stefanie    3     163                   163.2  female
3    Manuela    4     164                   165.1  female
4      Simon    5     164                   163.2    male
5     Sophia    6     164                   164.4  female
6      Ellen    7     164                   164.0  female
7     Emilia    8     165                   165.2  female
8       Lina    9     165                   165.2  female
9      Marie   10     165                   165.1  female
10      Lena   11     165                   166.3  female
11      Mila   12     165                   167.4  female
12       Fin   13     165                   165.5    male
13      Eric   14     166                   166.2    male
14       Pia   15     166                   166.1  female
15      Marc   16     166                   166.5    male
16     Ralph   17     166                   166.6    male
17       Tom   18     167                   166.2    male
18    Steven   19     167                   167.3    male
19   Emanuel   20     168                   168.5    male

## Change column names

Usually, we prefer to work with columns that have the following proporties:


- no leading or trailing whitespace (`"name"` instead of `" name "`, `" name"` or `"name "`)


- all lowercase (`"name"` instead of `"Name"`)


- now white spaces (`"my_name"` instead of `"my name"`)

### Simple rename

- First, we rename columns by simply using a mapping
- We rename `"Name"` to `"name"` (we want to display errors and don't save the changes for now).


Hint:

```python
df = df.rename(columns={"OLD_NAME": "NEW_NAME"}, errors="raise")
```

In [7]:
df = df.rename(columns={"Name": "name", "ID%" : "id%", "Height": "height", "Average Height Parents": "avgheightParents", " Gender":"gender" }, errors="raise")

In [ ]:
"""Check if your code returns the correct output"""
assert df.loc[0, 'name'] == "Stefanie"

In [ ]:
df.head(2)

- Let`s rename Gender to gender


- Here, we just want to display the result (without saving it).


- Remove the # and run the following code:

In [ ]:
# df.rename(columns={"Gender": "gender"}, errors="raise")

- This raises an error. 


- Can you spot the problem? Take a look at the end of the error statement and describe the type of error. How could you fix the problem?

YOUR ANSWER HERE

### Trailing and leading spaces (with regex)

- We use regular expressions to deal with whitespaces


- To change multiple column names in `df` at once, we use the method `df.columns = df.columns.str___` 

- To replace the spaces, we use `.replace()` with `regex=True`

- In the following function, we search for leading (line start and spaces) and trailing (line end and spaces) spaces and replace them with an empty string:

Hint:

replace r"*this pattern*" with empty string r""


```python
df.columns = df.columns.str.replace(r"___ | ___", r"", regex=True)
```

Explanation for *regex* (see also [Stackoverflow](https://stackoverflow.com/a/67466222)):

- we start with `r` (for raw) which tells Python to treat all following input as raw text (without interpreting it)
- "`^`": is line start
- " ": is a white space
- "`+`": some following characters
- "`|`": is or
- "`$`": is line end
- "": is an empty string


To learn more about regular expressions ("regex"), visit the following sites:

- [regular expression basics](https://www.w3schools.com/python/python_regex.asp).
- [interactive regular expressions tool](https://regex101.com/)

In [11]:
df.columns = df.columns.str.replace(r"^ | $", r"", regex=True)

In [14]:
"""Check if your code returns the correct output"""
assert df.columns.tolist() == ['Name', 'ID%', 'Height', 'Average Height Parents', 'Gender']

In [ ]:
df.columns

### Replace special characters

- Again, we use regular expressions to deal with special characters (like %, &, $ etc.)

Replace "%" with an empty string

In [20]:
df.columns = df.columns.str.replace(r"%", r"", regex=True)

In [21]:
"""Check if your code returns the correct output"""
assert df.columns.tolist() == ['Name', 'ID', 'Height', 'Average Height Parents', 'Gender']

In [22]:
df.columns

Index(['Name', 'ID', 'Height', 'Average Height Parents', 'Gender'], dtype='object')

In [29]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(r" ", r"_", regex=True)
df.columns

Index(['Name', 'ID', 'Height', 'Average_Height_Parents', 'Gender'], dtype='object')

In [27]:
"""Check if your code returns the correct output"""
assert df.columns.tolist() == ['name', 'id', 'height', 'average_height_parents', 'gender']

AssertionError:

In [ ]:
df.columns